* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-user-select: none;
    -webkit-user-drag: none;
    --webkit-app-region: none
}

:root {
    --index: calc(1vw + 1vh);
    --transition: 1.5s cubic-bezier(0.05, 0.05, 0.00, 1.00);
}

body {
    background-color: rgb(255, 157, 121);
    color: azure;
}

.calculator {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator__wrapper {
    background-color: rgb(35, 151, 253);
    width: 400px;
    border-radius: 20px;
    /* --wrapper-size: calc(var(--index) * 7.8); */
    /* width: calc(var(--index) * 20); */
    /* height: calc(var(--index) * 30); */
}

.calculator__wrapper .row {
    display: flex;
    
}